* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: "Roboto", sans-serif;
}

main {
  height: 80vh;
  background-color: #fffffe;
  background-image: url("/public/img/watchmen.jpg");
}

footer {
  background-color: #0f0e17;
  color: whitesmoke;
  padding: 40px;
}

