* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: "Roboto", sans-serif;
}

main {
  padding: 50px;
  height: 90vh;
  background-image: asset("img.ozymandias.jpg");
  background-color: #fffffe;
}

header input {
  height: 40px;
}

header button {
  width: 250px;
}

footer {
  background-color: #0f0e17;
  color: whitesmoke;
  padding: 40px;
}

