*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: $main-text;
    
}

main{
    padding: 50px;
    height: 90vh;
    background-image: asset("img.ozymandias.jpg");
    background-color: $back-light;
    
}

