*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: $main-text;
   
}

main{
    height: 80vh;
    background-color: $back-light;
    background-image: url("/public/img/watchmen.jpg")
}